body{
	text-align: center;
	background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 255, 0));
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	top: 15%;
}

h1{
	font: 600 3.5em 'Raleway', sans-serif;
	color: rgba(0,0,0,.5); 
	letter-spacing: .5em;
	width : 100%;
}

h2{
	margin: ;
	font: 600 1em 'Raleway', sans-serif;
	color: rgba(0,0,0,.5); 
	letter-spacing: 0.5em;
	margin: 30px
}

h3{
	font: 900 .75em 'Raleway', sans-serif;
	color: rgba(0,0,0,.5); 
	letter-spacing: 0.01em;
	text-align: center;
	margin: 20px;
}

button{
	cursor:pointer;
	background-color: inherit;
	outline: none;
}

